.navigation {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(17, 17, 53);
  color: red;
}
.navigation .active {
  background-color: white;
}
.btnSignUp {
  background-color: #d44817;
  color: white;
  font-weight: bold;
  border: none;
}
.btnSignUp:hover {
  color: white;
}
.navItem {
  font-weight: bold;
  color: white;
}
.navItem:hover {
  color: black;
}
.header {
  background-color: rgba(209, 236, 242, 0.848);
  /* width: 100%; */
  /* height: 100vh; */
}
.btnheader {
  color: white;
  background-color: #d44817;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.btnheader:hover {
  color: white;
  background-color: #f48a64;
}

.inputMod {
  border: 1px solid red;
  width: 30%;
}

.review {
  background-color: rgba(232, 244, 247, 0.848);
}

.remove div:first-child {
  transform: translateX(-150%);
  opacity: 0;
  overflow-x: hidden;
}
.remove div:last-child {
  transform: translateX(150%);
  opacity: 0;
  overflow-x: hidden;
}

.dashboardbackground {
  background-color: #f4f6fa;
}

.borderLink {
  border: 0.2px solid rgb(215, 215, 215);
}
