/* App.css */

html,
body,
#app {
  height: 100%;
}

#app {
  min-height: 100%;
  /* display: flex;
  flex-direction: column; */
}

.main-content {
  /* flex: 1; */
}

.footer {
  margin-top: -12px;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .navbar-menu {
    display: block;
  }
}

.aside {
  border-radius: 2px;
  border-right: 1px solid rgb(208, 204, 204);
  background: #fdfdfd;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.nav-link {
  text-decoration: none;
  padding: 8px 16px;
  background-color: #edf2ff;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #ddd;
}
.active-link {
  background-color: red;
}

.table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .table {
    width: 100%;
    overflow-x: auto;
  }
}

.profile {
  min-width: 3.2rem;
  height: 1rem;
  color: #fff;
  background-color: #273144;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  border-radius: 100%;
}
